#header #logo {
  margin-left: auto;
  margin-right: auto;
}

#header #logo h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40pt;
  text-align: center;
  font-family: serif;
  font-style: italic;
}


#hero ul {
  margin-left:auto;
  margin-right: -30px;
  top: 225px;
  padding: 0px 0 0px;
  width: 363px;
  position: relative;
  z-index: 101;
}
#hero ul li {
  list-style: none;
  float: left;
}
a.get-started {
  background-color: #62DAEB;
  -webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  padding: 12px 40px 11px;
  color: black;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding: 19px 30px 16px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 2px;
}
#hero ul li a.get-started:hover {
  background-color: #f2e9ad;
}
#hero ul li a.get-started:hover {
  background: #fff;
}

ul.simple-steps {

}


.comments img {

}

#mainContent #tour .tour-row article h1 {
  font-size: 32px;
  color: black;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 0 0 26px 0;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

#mainContent #tour .tour-row article h1.centered {
  margin: 0 auto;
  text-align: center;
}

p.right-content {
  float: right;
  width: 40%;
  margin-top: 100px;
}

#tour .tour-row h1,
#tour .tour-row h2 {
  /*color: #222;*/
  /*border-bottom: 1px solid #e2e2e2*/
}

#follower-count {
  font-weight: bold;
  font-size: 60pt;
  color: #222;
  margin-bottom: 1em;
}

#follower-legend {
  font-size: 60pt;
  font-weight: 100;
  color: #777;
  text-transform: uppercase;
}

#falls-caption {
  margin-top: 130px;
  position: relative;
  left: 20%;
  font-size: 16pt;
  line-height: 1.3em;
  text-align: center;
  width: 60%;
  font-style: italic;
  font-family: serif;
}

/*
#good-tweet {
  left: 30%;
  position: relative;
}
*/
#endorsement {
  font-family: serif;
  margin-top: 150px;
  font-size: 16pt;
  font-style: italic;
  color: #777;
  line-height: 1.3em;
  width: 60%;
  position: relative;
  left: 20%;
}


#endorsement small {
  font-size: 8pt;
  font-style: normal;
  margin-top: 20px;
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: bold;
}

#endorsement img {
  width: 50px;
  margin-bottom: 10px;
}

/* Heading underline */

#mainContent #tour .tour-row article header h1:after {
  content: '';
  width: 100px;
  height: 2px;
  display: block;
  background-color: #62DAEB;
  position: absolute;
  bottom: -18px;
}

article.how-it-works {
  min-height: 83em;
}

article.how-it-works h2 {
  font-size: 2em;
}

article.how-it-works img {
  width: 45%;
}

article.how-it-works div.info {
  width: 40%;
  clear: both;
  margin-top: 1em;
}

article.how-it-works div.info p {
  font-style: italic;
  font-size: 1.5em;
  font-family: serif;
  line-height: 1.3em;
}

article.how-it-works div.info h2 {
  text-transform: uppercase;
  color: #62DAEB;
  margin-top: 2em;
}

.left {
  float: left;
}

.right {
  float: right;
}

div.copy {
  font-size: 2.5em;
  line-height: 1.4em;
  margin-top: 100px;
}

ul#features {
  float: left;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  margin-top: 0px;
}

div#price {
  float: right;
  font-style: italic;
  font-size: 3em;
  font-family: serif;
  line-height: .6em;
  font-weight: bold;
  color: black;
  text-align: center;
}

div#price small {
  font-size: .7em;
}

p#will-contact {
  clear: both;
  font-size: 16pt;
  margin-left: 35%;
  margin-top: 100px;
  position: relative;
  top: 50px;
  font-family: serif;
  font-style: italic;
}

#get-started-now {
  cursor: pointer;
  font-size: .4em;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 0px 20px 0px 20px;
  background-color: #62DAEB;
  font-style: normal;
  margin-top: 1em;
}

div.last {
  background-color: black;
  color: #EEE;
}

div.last h1 {
  color: #EEE ! important;
}




#lean_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    display: none;
}


#get-started-modal {
    width: 404px;
    padding: 1em 4em 4em 4em;
    display:none;
    background: #FFF;
    border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.7); -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.7); -moz-box-shadow: 0 0px 4px rgba(0,0,0,0.7);
}

#get-started-modal p {
  font-size: 14pt;
}

#get-started-modal h1 {
  font-size: 24pt;
  margin-bottom: 40px;
}


.modal_close { position: absolute; top: 12px; right: 12px; display: block; width: 14px; height: 14px; background: url(http://leanmodal.finelysliced.com.au/img/modal_close.png); z-index: 2; }


#get-started-modal input.name {
  font-size: 24pt;
  width: 100%;
  height: 1.5em;
}


#get-started-modal div.txt-fld {
  margin-bottom: 4em;
}

#get-started-modal a.get-started-now {
  margin-top: 1em;
}



