#header #logo {
  margin-left: auto;
  margin-right: auto;
}

#header #logo h1 {
  font-size: 40pt;
  text-align: center;
  padding-top: .5em;
  padding-bottom: .5em;
}


#hero ul {
  margin-left:auto;
  margin-right: -30px;
  top: 200px;
  padding: 50px 0 0px;
  width: 363px;
  position: relative;
  z-index: 101;
}
#hero ul li {
  list-style: none;
  float: left;
}
#hero ul li a.get-started {
  background-color: #62DAEB;
  -webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -webkit-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -moz-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  -o-transition: background-color 0.1s ease-out, color 0.1s ease-out;
  transition: background-color 0.1s ease-out, color 0.1s ease-out;
  padding: 12px 40px 11px;
  color: black;
  font-family: "proxima-nova", sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  padding: 19px 30px 16px;
  font-size: 18px;
  letter-spacing: 1px;
  margin-left: 2px;
}
#hero ul li a.get-started:hover {
  background-color: #f2e9ad;
}
#hero ul li a.get-started:hover {
  background: #fff;
}

ul.simple-steps {

}


.comments img {

}

#mainContent #tour .tour-row article h1 {
  font-size: 32px;
  color: black;
  letter-spacing: 1px;
  line-height: 40px;
  margin: 0 0 26px 0;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
}

#mainContent #tour .tour-row article h1.centered {
  margin: 0 auto;
  text-align: center;
}

p.right-content {
  float: right;
  width: 40%;
  margin-top: 100px;
}

#tour .tour-row h1,
#tour .tour-row h2 {
  /*color: #222;*/
  /*border-bottom: 1px solid #e2e2e2*/
}

#follower-count {
  font-weight: bold;
  font-size: 60pt;
  color: #222;
  margin-bottom: 1em;
}

#follower-legend {
  font-size: 60pt;
  font-weight: 100;
  color: #777;
  text-transform: uppercase;
}

#falls-caption {
  margin-top: 100px;
  position: relative;
  left: 20%;
  font-size: 2em;
  line-height: 1.3em;
  text-align: center;
  width: 60%;
}

/*
#good-tweet {
  left: 30%;
  position: relative;
}
*/
#endorsement {
  margin-top: 150px;
  font-size: 20pt;
  font-weight: bold;
  font-style: italic;
  color: #222;
  line-height: 1.3em;
}


#endorsement small {
  font-size: 14pt;
  color: #222;
  font-style: normal;
}

#endorsement img {
  width: 50px;
  margin-bottom: 10px;
}

/* Heading underline */

#mainContent #tour .tour-row article header h1:after {
  content: '';
  width: 304px;
  height: 2px;
  display: block;
  background-color: #62DAEB;
  position: absolute;
  bottom: -10px;
}

article.how-it-works {
  min-height: 83em;
}

article.how-it-works h2 {
  font-size: 2em;
}

article.how-it-works img {
  width: 45%;
}

article.how-it-works div.info {
  width: 40%;
  clear: both;
  margin-top: 1em;
}

article.how-it-works div.info p {
  font-style: italic;
  font-size: 1.5em;
  font-family: serif;
  line-height: 1.3em;
}

article.how-it-works div.info h2 {
  text-transform: uppercase;
  color: #62DAEB;
  margin-top: 2em;
}

.left {
  float: left;
}

.right {
  float: right;
}

div.copy {
  font-size: 2.5em;
  line-height: 1.4em;
  margin-top: 100px;
}

ul#features {
  float: left;
  list-style: none;
  text-transform: uppercase;
  text-align: center;
}

div#price {
  float: right;
  font-style: italic;
  font-size: 3em;
  font-family: serif;
  line-height: 1em;
  font-weight: bold;
  color: black;
  text-align: center;
}

div#price small {
  font-size: .7em;
}

p#will-contact {
  clear: both;
  font-size: .5em;
  margin-left: 20%;
  margin-top: 100px;
  position: relative;
  top: 50px;
}

#get-started {
  font-size: .4em;
  text-transform: uppercase;
  font-family: sans-serif;
  padding: 0px 20px 0px 20px;
  background-color: #62DAEB;
  font-style: normal;
}

div.last {
  background-color: black;
  color: #EEE;
}

div.last h1 {
  color: #EEE ! important;
}